@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
/*SASS TEMPLATE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040c18;
  font-family: "Manrope";
}

.button-sign-up {
  border: 0;
  box-shadow: none;
  outline: none;
  background-color: #ff4820;
  height: 58px;
  width: 140px;
  border-radius: 5px;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  color: #ffffff;
}

.button-sign-in {
  border: 0;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  background-color: #040c18;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-right: 20px;
}

.navbar-light .navbar-toggler {
  background-color: #ff4820;
}

.nav-link:hover {
  color: #ffffff !important;
}

****************** LETS BUILD SOMETHING****************** .img-mask {
  max-width: 100%;
  height: auto;
}

.open-ai h1 {
  width: 614px;
  height: 225px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */
  letter-spacing: -0.04em;
}

/* Viewports between 320px and 480px wide */
@media screen and (min-width: 360px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .img-mask {
    max-width: 100%;
    height: auto;
  }

  .open-ai p {
    width: 20px;
    font-size: 10px;
  }
}
.open-ai {
  margin-top: 120px;
}

.open-ai p {
  padding-top: 30px;
  width: 554px;
  height: 160px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #81afdd;
}

.search {
  border: 0;
  outline: none;
  box-shadow: none;
  width: 405px;
  height: 73px;
  color: #3d6184;
  padding-left: 20px;
  background: #052d56;
  border-radius: 5px 0px 0px 5px;
}

.button-get-started {
  border: 0;
  outline: none;
  box-shadow: none;
  width: 174px;
  height: 73px;
  background: #ff4820;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
}

.group-pic {
  max-width: 100%;
  height: auto;
  width: 181.79px;
  height: 38px;
  float: left;
  margin-right: 12px;
}

.group p {
  width: 581.92px;
  height: 37.61px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  /* identical to box height, or 313% */
  padding: 0;
  color: #ffffff;
}

.logo-placement {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.question1 {
  background-color: #031a33;
  padding-bottom: 50px;
}

.question1 h3 {
  color: #ffffff;
  /* What is GPT-3 */
  width: 151px;
  height: 75px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  /* identical to box height, or 312% */
  letter-spacing: -0.01em;
}

.question1 p {
  margin-top: 70px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  color: #81afdd;
}

.what-is {
  width: 151px;
  height: 75px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 120px;
}

.pos h1 {
  margin-left: 60px;
  width: 472px;
  height: 90px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin-right: 400px;
}

.question1 .explore {
  margin-top: 20px;
  color: #f49867;
}

.pos {
  margin-top: 60px;
}

.chatbots-knowledge-education {
  margin-left: 60px;
}

.chatbots {
  margin-right: 30px;
}

.knowledgebase {
  margin-right: 30px;
}

.chatbots-knowledge-education p {
  margin-top: 40px;
}

.grp {
  margin-top: 170px;
}

.future h3 {
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 426px;
  height: 180px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  /* or 132% */
  margin-right: 50px;
}

.future p {
  color: #f49867;
  margin-top: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
}

.ref-list h5 {
  color: #ffffff;
  width: 182px;
  height: 48px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin-right: 60px;
}

.ref-list p {
  color: #81afdd;
  width: 334px;
  height: 92px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
}

.imagination-text .request {
  height: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height, or 187% */
  color: #71e5ff;
}

.imagination-text h5 {
  width: 426px;
  height: 90px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 426px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 45px;
}

.imagination-text .travel {
  width: 479px;
  height: 120px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}

.imagination-text p {
  height: 30px;
  margin-top: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #f49867;
}

.imagination-text {
  margin-right: 100px;
  margin-top: 190px;
}

.imagination {
  margin-bottom: 100px;
}

.register-today {
  border-radius: 10px;
  background-image: linear-gradient(to right, #ae67fa, #f49867);
  margin-bottom: 120px;
}

.register-today p {
  /* Request Early Access to Get Started */
  width: 318.87px;
  height: 46.89px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */
  color: #000000;
  padding-left: 40px;
  padding-top: 50px;
}

.register-today h5 {
  /* Register today & start exploring the endless possiblities. */
  width: 801.87px;
  height: 70.34px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 45px;
  /* or 187% */
  color: #000000;
  padding-left: 40px;
  padding-top: 10px;
}

.register-today-btn {
  /* Rectangle 27 */
  border: 0;
  outline: none;
  box-shadow: none;
  width: 189.14px;
  height: 59.4px;
  background: #000000;
  border-radius: 40px;
  margin-top: 60px;
  margin-left: 90px;
  margin-bottom: 50px;
  color: #ffffff;
}

.blog {
  margin-bottom: 120px;
}

.blog h2 {
  width: 701px;
  height: 150px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 70px;
  /* or 121% */
  letter-spacing: -0.04em;
  margin-bottom: 80px;
}

.happening p {
  height: 34.95px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 11.649px;
  line-height: 35px;
  /* identical to box height, or 300% */
  color: #ffffff;
  padding-left: 20px;
  padding-top: 30px;
}

.happening h5 {
  /* GPT-3 and Open AI is the future. Let us exlore how it is? */
  width: 284.23px;
  height: 90.86px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 19.3154px;
  line-height: 30px;
  /* or 157% */
  padding-left: 20px;
  padding-top: 10px;
  color: #ffffff;
}

.happening .big-font {
  width: 342.18px;
  height: 90.86px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  color: #ffffff;
}

.happening .a {
  background-color: #042c54;
  margin-right: 60px;
  border-radius: 40px 0 0 0;
}

.happening .b {
  margin-right: 60px;
}

.happening .read-article {
  padding-top: 280px;
}

.happening .bb {
  background-color: #042c54;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 40px 0 0 0;
}

.happening .bbb {
  background-color: #042c54;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 40px 0 0 0;
}

.happening .cc {
  background-color: #042c54;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 40px 0 0 0;
}

.happening .ccc {
  border-radius: 40px 0 0 0;
  background-color: #042c54;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.foot {
  background-color: #031b34;
}

.before h4 {
  /* Do you want to step in to the future before others */
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */
  text-align: center;
  letter-spacing: -0.04em;
  padding-top: 150px;
}

.before .request-btn {
  border-width: 2px;
  border-color: #ffffff;
  outline: none;
  box-shadow: none;
  padding: 20px;
  background-color: #042c54;
  margin-top: 60px;
  margin-left: 460px;
  margin-bottom: 150px;
  font-family: "Manrope";
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.footer-display h5 {
  /* Links */
  font-weight: bold;
  font-family: "Manrope";
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-display p {
  /* Overons */
  font-family: "Manrope";
  font-size: 12px;
  line-height: 30px;
  color: #ffffff;
}

.footer-logo .gptp {
  line-height: 18px;
}

.get-in-touch .crech {
  line-height: 18px;
}

.all-right .reserved {
  margin-top: 80px;
  padding-left: 40px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
  /* © 2021 GPT-3. All rights reserved. */
  font-family: "Manrope";
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.font-family {
  font-family: "Manrope";
}

/* MEDIA QUERIES */
@media (max-width: 368px) {
  body {
    width: 300px;
  }
  .open-ai h1 {
    width: 300px;
    height: 200px;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
  }

  .open-ai p {
    width: 250px;
    height: auto;
    padding-top: 5px;
    font-size: 0.8rem;
  }

  .search {
    width: 230px;
  }

  .button-get-started {
    width: 100px;
    height: 50px;
    margin-top: 7px;
    margin-left: 65px;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .img-mask {
    display: none;
  }

  .coms {
    display: none;
  }

  .question {
    display: flex;
  }

  .question1 p {
    width: 250px;
    margin-top: 30px;
  }
}
