* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-primary;
    font-family: $font-manrope;
}

.button-sign-up{
    border: 0;
    box-shadow:none;
    outline: none;
    background-color: $color-red;
    height: 58px;
    width: 140px;
    border-radius: 5px;
    font-family: $font-manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color: $color-white;

    
}
.button-sign-in{
    border: 0;
    box-shadow: none;
    outline: none;
    color: $color-white;
    background-color: $color-primary;
    font-family: $font-manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 20px;

}

.navbar-expand-lg .navbar-nav .nav-link{
    font-family: $font-manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-white;
    margin-right: 20px;

}
.navbar-light .navbar-toggler{
    background-color: $color-red;

}
.nav-link:hover{
    color: $color-white !important;
}
****************** LETS BUILD SOMETHING******************

.img-mask{
    max-width: 100%;
    height: auto;
}

.open-ai h1{
    // position: absolute;
    width: 614px;
    height: 225px;
    // left: 136px;
    // top: 216px;
    // color:linear-gradient(left,$heading-gradientA,$heading-gradientB);
    background: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    /* or 121% */
    letter-spacing: -0.04em;
}
/* Viewports between 320px and 480px wide */
@media screen and (min-width: 360px){
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .img-mask{
        max-width: 100%;
        height: auto;
    }
    .open-ai h1 {
    //   font-size: 30px;
      
    }
    .open-ai p{
      width: 20px;
      font-size: 10px;
 
    }
}
.open-ai{
    margin-top: 120px;
}
.open-ai p{
padding-top: 30px;
width: 554px;
height: 160px;
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
color: $paragraph-color;
}
.search{
    border: 0;
    outline: none;
    box-shadow: none;
    // position: absolute;
    width: 405px;
    height: 73px;
    // left: 138px;
    // top: 624px;
    color: $color-search;
    padding-left: 20px;
    background: $input-color;
    border-radius: 5px 0px 0px 5px;

}
.button-get-started{
    border: 0;
    outline: none;
    box-shadow: none;
    // position: absolute;
    width: 174px;
    height: 73px;
    // left: 768px;
    // top: 624px;
    background: $color-red;
    border-radius: 0px 5px 5px 0px;
    color: $color-white;
}
.group-pic{
    max-width: 100%;
    height: auto;
    width: 181.79px;
    height: 38px;
    float: left;
    margin-right: 12px;
    // left: 138px;
    // top: 734.28px;

}
.group p{
    width: 581.92px;
    height: 37.61px;
    // left: 333.37px;
    // top: 736.28px;

    font-family: $font-manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    /* identical to box height, or 313% */
    padding: 0;
    color: $color-white;
}
//************ SESSION COMPANIES NAME******
.logo-placement{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;

}

//************ WHAT IS GPT-3************

.question1{
   background-color: $color-education;
   padding-bottom: 50px;
}
.question1 h3{
    color: $color-white;
    /* What is GPT-3 */


    // position: absolute;
    width: 151px;
    height: 75px;
    // left: 196px;
    // top: 1101px;

    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    /* identical to box height, or 312% */

    letter-spacing: -0.01em;
}
.question1 p{
   
    // width: 731px;
    // height: 100px;
    
    margin-top: 70px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */


    color: $paragraph-color
}

.what-is{
    width: 151px;
    height: 75px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 120px;

}
.pos h1{
    margin-left: 60px;
    width: 472px;
    height: 90px;
    background: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin-right: 400px;
}
.question1 .explore{
    margin-top: 20px;
    color: $heading-gradientB;
}
.pos{
    margin-top: 60px;
}
.chatbots-knowledge-education{
    margin-left: 60px;
}
.chatbots{
    margin-right: 30px;
}
.knowledgebase{
    margin-right: 30px;
}
.chatbots-knowledge-education p{
    margin-top: 40px;
}
// *********REQUEST EARLY ACCESS TO GET STARTED**********

.grp{
    margin-top: 170px;
}
.future h3{
    background: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 426px;
    height: 180px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    /* or 132% */
    margin-right: 50px;

}
.future p{
    color: $heading-gradientB;
    margin-top: 30px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
}
.ref-list h5{
    color:$color-white;
    width: 182px;
    height: 48px;
    
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin-right: 60px;
}
.ref-list p{
    color: $paragraph-color;
    width: 334px;
    height: 92px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

}
// ***********THE POSSIBILITIES ARE BEYOND IMAGINATION********
.imagination-text .request{

    // width: 271px;
    height: 30px;

    font-family: $font-manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    // line-height: 30px;
    /* identical to box height, or 187% */
    color: $color-request;

}
.imagination-text h5{
    // position: absolute;
    width: 426px;
    height: 90px;
    // left: 742px;
    // top: 2695px;
    background: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 426px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 45px;
}
.imagination-text .travel{
    // position: absolute;
    width: 479px;
    height: 120px;
    // left: 742px;
    // top: 2808px;

    font-family: $font-manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: $paragraph-color;

}
.imagination-text p{
    height: 30px;
    margin-top: 10px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: $heading-gradientB;

}
.imagination-text{
    margin-right: 100px;
    margin-top: 190px;
}
.imagination{
    margin-bottom: 100px;
}

// **************START EXPLORING**************************
.register-today{
   border-radius: 10px;
    // background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
    background-image: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    margin-bottom: 120px;
}
.register-today p{
    /* Request Early Access to Get Started */

    width: 318.87px;
    height: 46.89px;

    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */
    color: $color-black;
    padding-left: 40px;
    padding-top: 50px;
}
.register-today h5{
    /* Register today & start exploring the endless possiblities. */

    width: 801.87px;
    height: 70.34px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight:900;
    font-size: 24px;
    line-height: 45px;
    /* or 187% */
    color: $color-black;
    padding-left:40px;
    padding-top: 10px;
}
.register-today-btn{
    /* Rectangle 27 */
    border: 0;
    outline: none;
    box-shadow: none;
    width: 189.14px;
    height: 59.4px;
    background: $color-black;
    border-radius: 40px;
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 50px;
    color: $color-white;
}
//************************* A LOT IS HAPPENING***********

.blog{
    margin-bottom: 120px;
}


.blog h2{
    
    width: 701px;
    height: 150px;
    background: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 70px;
    /* or 121% */

    letter-spacing: -0.04em;
    margin-bottom: 80px;
    

}
.happening p{
    
    // width: 71.06px;
    height: 34.95px;
    font-family:$font-manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 11.649px;
    line-height: 35px;
    /* identical to box height, or 300% */
    color:$color-white;
    padding-left: 20px;
    padding-top: 30px;
}
.happening h5{
    /* GPT-3 and Open AI is the future. Let us exlore how it is? */
    
    width: 284.23px;
    height: 90.86px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 19.3154px;
    line-height: 30px;
    /* or 157% */
    padding-left: 20px;
    padding-top: 10px;
    color:$color-white;
}

.happening .big-font{

    width: 342.18px;
    height: 90.86px;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: $color-white;
}

.happening .a{
    background-color: $color-read-article;
    margin-right: 60px;
    border-radius: 40px 0 0 0;

}

.happening .b{
    // background-color: $color-read-article;
    margin-right: 60px;

}

.happening .read-article{
    padding-top: 280px;
    
}
.happening .bb{
    background-color:  $color-read-article;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-radius: 40px 0 0 0;
}
.happening .bbb{
    background-color: $color-read-article;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-radius: 40px 0 0 0;
}
.happening .cc{
    background-color: $color-read-article;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-radius: 40px 0 0 0;
}
.happening .ccc{
    border-radius: 40px 0 0 0;
    background-color:  $color-read-article;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

// **********STEP INTO THE FUTURE************
.foot{
    background-color: $color-footer;
}

.before h4{
    /* Do you want to step in to the future before others */
    
    background: linear-gradient(to right, $heading-gradientA,$heading-gradientB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $font-manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    /* or 121% */
    text-align: center;
    letter-spacing: -0.04em;
 
    padding-top: 150px;

}
.before .request-btn{
    border-width: 2px;
    border-color: $color-white;
    outline: none;
    box-shadow: none;
    padding: 20px;
    background-color: $color-read-article;
    margin-top: 60px;
    margin-left: 460px;
    margin-bottom: 150px;
    font-family: $font-manrope;
    font-size: 18px;
    line-height: 21px;
    color:$color-white;
}
.footer-display h5{
    /* Links */
    font-weight: bold;
    font-family: $font-manrope;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    color: $color-white;
    margin-bottom: 30px;
}
.footer-display p{
    /* Overons */


    // position: absolute;
    // width: 46px;
    // height: 15px;
    // left: 611px;
    // top: 5308px;

    font-family: $font-manrope;
    font-size: 12px;
    line-height: 30px;

    color: $color-white;

}
.footer-logo .gptp{
    line-height: 18px;
}
.get-in-touch .crech{
    line-height: 18px;
}
.all-right .reserved{
    margin-top: 80px;
    padding-left: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: $color-white;

    /* © 2021 GPT-3. All rights reserved. */
    font-family: $font-manrope;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

}



