$font-manrope: "Manrope";
$color-primary: #040C18;
$color-red: #FF4820;
$heading-gradientA: #AE67FA;
$heading-gradientB: #F49867;
$paragraph-color: #81AFDD;
$color-white: #ffffff;
$input-color: #052D56;
$color-black: #000000;
$color-search:#3D6184;
$color-chatbots:#1B78DE;
$color-education:#031a33;
$color-request:#71E5FF;
$color-read-article:#042C54;
$color-footer:#031B34;


